
swift-tvOS-demo/swift-tvOS-demo.xcodeproj/project.xcworkspace/xcuserdata/jasperwang.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

swift-tvOS-demo/swift-tvOS-demo.xcodeproj/project.xcworkspace/xcuserdata/jasperwang.xcuserdatad/UserInterfaceState.xcuserstate

swift-tvOS-demo/swift-tvOS-demo.xcodeproj/xcuserdata/jasperwang.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
